<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="AppearanceSettings" type="XmlFileExplorer.Domain.Config.ConfigSections.AppearanceSettings, XmlFileExplorer.Domain"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XmlFileExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <XmlFileExplorer.Properties.Settings>
            <setting name="DisplayHiddenFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastViewedDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="ValidXmlForegroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="InvalidXmlForegroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ValidXmlBackgroundColor" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="InvalidXmlBackgroundColor" serializeAs="String">
                <value>LightPink</value>
            </setting>
            <setting name="ErrorsPanelPercentage" serializeAs="String">
                <value>10</value>
            </setting>
        </XmlFileExplorer.Properties.Settings>
    </userSettings>
</configuration>
